body {
    padding: 0;
    margin: 0;
    left: 0;
    top: 0;
}

.app {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ab {
    width: 10%;
}

input {
    font-size: 15pt;
    text-align: center;
}

.abTitle {
    display: flex;
    justify-content: center;
}

.center {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

button {
    font-size: 15pt;
    margin: 0 10px;
    border: 0;
    border-radius: 40%;
    background: rgba(131, 131, 131, 0.05);
    &:hover {
        background: rgba(131, 131, 131, 0.5);
    }
}
